<template name="eventWide">
	<div class="ui two column grid">
		<div class="column">
			<img src="/images/defaults/event.jpg" alt="event description">
		</div>

		<div class="column">
			<h4>Event name</h4>
			<p class="text-muted">Event description</p>

			<div class="ui three column grid">
				<div class="column">
					<span><i class="ui icon marker"></i>Location</span>
				</div>

				<div class="column">
					<span><i class="ui icon theme"></i>Category</span>
				</div>

				<div class="column">
					<i class="ui icon heart"></i>
				</div>
			</div>

			<div class="ui green small progress" data-percent="74">
				<div class="bar"></div>
			</div>

			<div class="ui four column grid" style="position: absolute; bottom: 0; width: 100%; padding-bottom: 10px">
				<div class="column">
					<h3 style="margin: 0" class="text-center">64%</h3>
					<p class="text-muted text-center">Donaciones</p>
				</div>

				<div class="column">
					<h3 style="margin: 0" class="text-center">34</h3>
					<p class="text-muted text-center">Voluntarios</p>
				</div>

				<div class="column">
					<h3 style="margin: 0" class="text-center">34</h3>
					<p class="text-muted text-center">Voluntarios</p>
				</div>

				<div class="column">
					<h3 style="margin: 0" class="text-center">34</h3>
					<p class="text-muted text-center">Voluntarios</p>
				</div>
			</div>
		</div>
	</div>
</template>
