<template name="loginModal">
	<div class="ui small modal" id="loginModal" style="width: 400px; margin-left: -200px">
		<div class="content">
			<div class="ui header text-center">Inicia Sesión</div>
			<form id="loginForm" class="ui form">
				<div class="field">
					<label>Correo electrónico</label>
					<input name="email" type="email">
				</div>

				<div class="field">
					<label>Contraseña</label>
					<input name="password" type="password">
				</div>

				<button class="ui fluid primary button">Inicia Sesión</button>
			</form>
		</div>
	</div>
</template>
